@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Ubuntu:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: url("./img/bg.png");
}

a {
  color: rgb(75, 0, 130);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: rgb(139, 0, 139);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  height: auto;
  background-color: rgb(255, 192, 203, 0.8);
  margin: 20px auto;
  border: 1px solid #ffffff;
  border-radius: 10px;
  align-items: center;
}

img {
  display: inline-block;
  max-width: 50%;
  border-radius: 100%;
  border: 5px solid #ffffff;
}

.pet {
  width: 100%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-family: "Bree Serif", sans-serif;
  font-size: 1.5rem;
  color: rgb(75, 0, 130);
}

.pet-photo {
  padding-top: 15px;
  background-color: rgb(75, 0, 130, 0.1);
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}

.pet-data {
  padding-top: 15px;
  display: block;
  font-family: "Bree Serif", sans serif;
  color: rgb(75, 0, 130);
  font-size: 1.3rem;
  padding-bottom: 15px;
}

.pet-name {
  color: rgb(75, 0, 130);
  font-size: 1.5rem;
}

.pet-responsable {
  width: 100%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-family: "Bree Serif", sans-serif;
  font-size: 1.5rem;
  color: rgb(75, 0, 130);
}

.responsable-name {
  padding-top: 15px;
  font-family: "Bree Serif", sans-serif;
  font-size: 1.2rem;
  color: rgb(75, 0, 130);
  padding-bottom: 15px;
}

.page-division {
  background-color: #ffffff;
  width: 100%;
  height: 0.4rem;
}

.pet-vacines {
  width: 100%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-family: "Bree Serif", sans-serif;
  font-size: 1.5rem;
  color: rgb(75, 0, 130);
}

footer {
  background-color: #ffffff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Bree Serif", sans-serif;
}
